* {
	box-sizing: border-box;
}
body {
	background: linear-gradient(to bottom, #ff5e00 0%,#000000 50%, #000000 50%, #ff5e00 100%);
	font-family: 'Muli', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}
.currency {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.currency select {
	background: transparent;
	border: 0;
	padding-right: 20px;
	font-size: 22px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.currency input {
	border: 0;
	background: transparent;
	font-size: 22px;
	text-align: right;
}